@import url('http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$gridHeight: 50%;
$gridWidth: 70%;
$cellSpacing: 10px;

.slide-enter, .slide-leave-to {
	max-height: 0;
	opacity: 0;
}

.slide-enter-active, .slide-leave-active {
	transition: all 0.3s;
}

.slide-enter-to, .slide-leave {
	max-height: 100%;
	opacity: 100%;
}

#app {
	align-items: center;
	background: url('../../assets/background.png');
	background-size: cover;
	display: flex;
	font: 18px Ubuntu;
	height: 100%;
	justify-content: center;
	position: fixed;
	width: 100%;

	.mini-menu {
		color: #fff;
		bottom: 20px;
		font-size: 3em;
		position: absolute;
		right: 20px;
		text-shadow: 0 0 10px #000;

		* {
			cursor: pointer;
		}

		*:hover {
			color: #ccc;
		}
	}

	.grid {
		display: flex;
		flex-direction: column;
		height: $gridHeight;
		width: $gridWidth;

		.row {
			display: flex;
			flex: 1;

			.cell {
				background: rgba(0, 0, 0, 0.7);
				border: 1px solid #111;
				border-radius: 5px;
				box-shadow: 0 0 15px #000;
				flex: 1;
				margin: $cellSpacing;
				position: relative;
				
				.item, .item * {
					border-radius: 4px;
					height: 100%;
					width: 100%;
				}

				.type {
					color: #fff;
					font-size: 2em;
					position: absolute;
					right: 5%;
					text-shadow: 0 0 1px #000;
					top: 5%;
				}

				.options {
					align-items: center;
					background: rgba(0, 0, 0, 0.8);
					border-radius: 0 0 5px 5px;
					bottom: 0;
					box-sizing: border-box;
					display: flex;
					color: #fff;
					font-size: 5vh;
					height: 40%;
					justify-content: space-between;
					padding: 0 15px 0 15px;
					position: absolute;
					width: 100%;

					* {
						cursor: pointer;
					}
				}
			}
		}
	}
}